:root {
  --bg1: #FFF;
  --bg2: #DDD;
  --bg3: #BBB;
  --fg1: #000;
  --fg2: #222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg1: #000;
    --bg2: #222;
    --bg3: #444;
    --fg1: #FFF;
    --fg2: #DDD;
  }
}
html {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--fg1);
  background-color: var(--bg1);
}

body {
  margin: 0;
  text-align: center;
}

label {
  display: block;
  margin: 4px;
}

button {
  cursor: pointer;
  display: block;
  padding: 8px;
  border: none;
  border-radius: 8px;
  min-width: 108px;
  margin: 4px auto;
}

#json-input {
  line-height: 12pt;
  display: block;
  margin: 8px auto;
  background-color: var(--bg3);
  color: var(--fg2);
}

::backdrop {
  backdrop-filter: blur(10px);
}

dialog {
  background-color: var(--bg3);
  color: var(--fg2);
  max-height: 60vh;
}

#dialog-close {
  margin: 0;
  padding: 0;
  min-width: 16px;
  right: 5px;
  top: 5px;
  position: absolute;
  border: none;
}

#dialog-content {
  top: 10px;
  position: relative;
  max-height: calc(60vh - 15px);
  overflow-y: scroll;
}

.monospaced {
  font-family: "Courier New", Courier, monospace;
}

.list-container {
  max-width: 96%;
}

.list-elm {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid limegreen;
  border-radius: 2px;
  padding: 1px;
  margin: 2px 0;
}
.list-elm .right-align {
  align-self: flex-end;
  text-align: end;
}
.list-elm .left-align {
  align-self: flex-start;
  text-align: start;
}
